*,*::after,*::before{
  box-sizing: border-box;
}
/* .modal-backdrop.show {
  background-color: rgba(0, 0, 139, 0.8);
} */
.hover-effect:hover {
  color: red;
}
.active::after {
  content: "";
  position: absolute;
  background-color: red;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 0; 
}